node_modules/
**/node_modules/
.history
web-build/
dist/
build/
**/dist/
**/build/
.next/
out/
coverage/
.tmp/
.cache/
android/build/
android/app/build/
ios/build/
ios/Pods/
.expo/
.expo-shared/
.logs/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.staging
.
Thumbs.db
.vscode/
.idea/
package-lock.json
yarn.lock
pnpm-lock.yaml
**/generated/
**/gen/
**/__generated__/
coverage/
playwright-report/
test-results/
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.mp4
*.mov
*.zip
*.tar
*.gz
*.ttf
*.woff
*.woff2
storybook-static/
.eslintcache
.stylelintcache
prisma/migrations/
*.sqlite
*.db
*.pid
*.seed
*.tgz